*,
h1 {

	font-family: 'Tangerine', cursive;
	font-size: 60px;
	font-weight: bold;
	color: black;
	text-shadow: 4px 4px 4px #494949;
}


p:hover {

	cursor: pointer;
    background-color: lightgrey;
} 



body {

	background-color: black;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 175%;
	background-position: 49% 42%;
	background-attachment: local;
}


.container {

	
	height: 100%;
	margin: auto;
	padding-top: 150px;
	text-align: center;
	color: red;
	font-size: xx-large;
}

.start

{
	
	position: absolute;
    top: 230px;
    left: 15px;

}
.startbtn {

	position: absolute;
	bottom: 305px;
    padding: 20px;
    left: 140px;
    z-index: 4;
    animation: boxMove 7000ms;
    animation-timing-function: ease-out;

}

.startbtn:focus,
.btn:focus {

	border: 1px solid black;

}


@keyframes boxMove {

	from {bottom: 100px;
		opacity: 0.1;}
	
	to {bottom: 305px;
	opacity: 1;}

}

.btn {

	width: 250px;
	padding: 10px 0;
}

.wrapper {
	
	position: relative;
	background-image: url("../images/scroll.jpg");
	background-repeat: no-repeat;

	left: 290px;
	height: 900px;

	opacity: 0.8;
	margin: auto;
	padding-top: 80px;

}

.timer,
.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5,
.wrapper6,
.wrapper7,
.wrapper8,
.wrapper9,
.wrapper10,
.wrapperScore,
.a1r,
.a2r,
.a3r,
.a4r,
.a5r,
.a6r,
.a7r,
.a8r,
.a9r,
.a10r,
.a1w,
.a2w,
.a3w,
.a4w,
.a5w,
.a6w,
.a7w,
.a8w,
.a9w,
.a10w   {
  
  	display: none;
  	position: absolute;
  	text-align: center;
  	top: 200px;
	left: 30px;
	height: 500px;
	width: 500px;
	font-size: 40px;
	line-height: 0.8;


}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper4,
.wrapper5,
.wrapper6,
.wrapper7,
.wrapper8,
.wrapper9,
.wrapper10,
.wrapperScore,
.a1r,
.a2r,
.a3r,
.a4r,
.a5r,
.a6r,
.a7r,
.a8r,
.a9r,
.a10r,
.a1w,
.a2w,
.a3w,
.a4w,
.a5w,
.a6w,
.a7w,
.a8w,
.a9w,
.a10w {

	animation: textMove 3000ms;
    animation-timing-function: ease-out;




}

@keyframes textMove {

	from {top: 220px;
		opacity: 0.3;}
	
	to {top: 200px;
	opacity: 1;}

}




.q1,
.q2,
.q3,
.q4,
.q5,
.q6,
.q7,
.q8,
.q9,
.q10,
.a1r,
.a2r,
.a3r,
.a4r,
.a5r,
.a6r,
.a7r,
.a8r,
.a9r,
.a10r,
.a1w,
.a2w,
.a3w,
.a4w,
.a5w,
.a6w,
.a7w,
.a8w,
.a9w,
.a10w  

{
	font-size: 60px;

}

.timer {


	position: absolute;
	top: 70px;
	left: 30px;
	line-height: 0.5;
	height: 175px;
	width: 175px;
	font-size: 60px;

}

.triviaAns1,
.triviaAns2,
.triviaAns3,
.triviaAns4,
.triviaAns5,
.triviaAns6,
.triviaAns7,
.triviaAns8,
.triviaAns9,
.triviaAns10,
.triviaAnsScore {

	font-size: 40px;
	width: 100%;
	margin: 10px auto;
	padding: 15px;
	border: 2px solid black;
	background-color: lightgrey;

}


.triviaAns1:hover,
.triviaAns2:hover,
.triviaAns3:hover,
.triviaAns4:hover,
.triviaAns5:hover,
.triviaAns6:hover,
.triviaAns7:hover,
.triviaAns8:hover,
.triviaAns9:hover,
.triviaAns10:hover
.triviaAnsScore:hover  {

	cursor: pointer;
	background-color: white;
}

.gif {

	display: none;
    opacity: 1;
    position: relative;
    width: 430px;
    top: 360px;
    right: 286px;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 9;

}

.overlay{

	position: absolute;
	background-color: black;
	animation: endGame 10000ms;
    animation-timing-function: ease-out;
    width: 100%;
    height: 100%;
    z-index: 9999;




}

@keyframes endGame {

	from {opacity: 0}
	
	to {opacity: 1}

}


